[spats]

cotrans = False
handle_indels = False
allow_negative_values = True
count_mutations = True
count_edge_mutations = "stop_and_mut"
allowed_target_errors = 4
mutations_require_quality_score = 30
allow_multiple_rt_starts = True

count_left_prefixes = False
collapse_left_prefixes = False

target = target.fa
r1 = handmade_R1.fastq
r2 = handmade_R2.fastq
